{
    email cerfedino.ninetieth154@passinbox.com
}


{$SCHEME}://{$HOSTNAME} {$SCHEME}://www.{$HOSTNAME} {
    log {
        output file /var/log/caddy/caddy.log
        level ERROR
    }

    reverse_proxy http://educational-game-website:3000
}
